<h1>Home</h1>
@if (user(); as me) {
  <p>Signed in as {{ me.email }}.</p>
}
@if (!hasSliceOneScreen()) {
  <p>
    You are signed in, but none of the slice 1–5 screens (openings, quizzes, templates, question
    bank, assignments, field defaults, roles, users) are available for your permissions.
  </p>
}
<ul class="home-links">
  <li *hasPermission="codes.OpeningsRead">
    <a routerLink="/openings">Openings</a>
  </li>
  <li *hasPermission="codes.QuizzesRead">
    <a routerLink="/quizzes">Quizzes</a>
  </li>
  <li *hasPermission="codes.TemplatesRead">
    <a routerLink="/templates">Templates</a>
  </li>
  <li *hasPermission="codes.QuestionsRead">
    <a routerLink="/questions">Question bank</a>
  </li>
  <li *hasPermission="codes.AssignmentsRead">
    <a routerLink="/assignments">Assignments</a>
  </li>
  <li *hasPermission="codes.OpeningsFieldsManage">
    <a routerLink="/opening-fields">Opening field defaults</a>
  </li>
  <li *hasPermission="codes.RolesManage">
    <a routerLink="/roles">Roles (permission groups)</a>
  </li>
  <li *hasPermission="codes.UsersManage">
    <a routerLink="/users">Users</a>
  </li>
</ul>
