@if (loading()) {
  <p class="status status-loading" role="status">{{ loadingMessage() }}</p>
} @else if (error()) {
  <p class="status status-error" role="alert">
    {{ error() }}
    @if (showDevCorrelation && correlationId()) {
      <span class="status-correlation"> Correlation id: {{ correlationId() }}</span>
    }
  </p>
} @else if (empty()) {
  <div class="status status-empty">
    <p>{{ emptyMessage() }}</p>
    @if (emptyActionLabel() && emptyActionLink(); as actionLink) {
      <a class="button" [routerLink]="actionLink">{{ emptyActionLabel() }}</a>
    }
  </div>
} @else {
  <ng-content />
}
